/* Hero Section Styles */

.buttons {
  margin-bottom: 10px;
}
/* Container for the image section */
.image-section {
  position: relative; /* Position relative for absolute positioning */
  height: 100vh; /* Set height for the section */
  overflow: hidden; /* Hide overflowing content */
}

/* The image that acts as a background */
.image-section img {
  width: 100%; /* Ensure image covers the section horizontally */
  height: 100%; /* Ensure image covers the section vertically */
  object-fit: cover; /* Cover the section with the image */
  object-position: center; /* Center the image */
  filter: brightness(0.6); /* Decrease brightness (less than 1) */
}

/* Header positioned over the image */
.header-overlay {
  position: absolute; /* Position absolutely over the image */
  top: 50%; /* Align to the top of the section */
  left: 0; /* Align to the left of the section */
  width: 100%; /* Full width of the section */
  height: 93px; /* Set height for the header */
  display: flex; /* Use Flexbox for alignment */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  z-index: 2; /* Ensure header is above the image */

  color: white; /* White text color */
}

/* Heading within the header overlay */
.header-overlay h1 {
  font-size: 34px; /* Font size for the heading */
  text-align: center; /* Center the text */
  color: #fff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .image-section {
    height: 500px; /* Adjust height for smaller screens */
  }

  .header-overlay {
    height: 70px; /* Adjust height for smaller screens */
  }

  .header-overlay h1 {
    font-size: 24px; /* Adjusted font size */
  }
}

@media (max-width: 576px) {
  .image-section {
    height: 400px; /* Adjust height for smaller screens */
  }

  .header-overlay {
    height: 60px; /* Adjust height for smaller screens */
  }

  .header-overlay h1 {
    font-size: 24px; /* Smaller font size */
  }
}
.borderless-input {
  border-radius: 30px;
  border: 2px solid #4b8e3f;
  padding: 10px; /* Padding for comfort */
  outline: none; /* Remove outline on focus */
  width: 50%; /* Reduced width */
}
.borderless-inputs {
  border-radius: 30px;
  border: 2px solid #4b8e3f; /* Border at the bottom only */
  padding: 10px; /* Padding for comfort */
  outline: none; /* Remove outline on focus */
  width: 38%; /* Reduced width */
}
.contact-form-container {
  margin-top: 50px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.top-heading {
  font-size: 34px;
  color: #000000;
}
.get-direction-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -180px;
}
@media (max-width: 768px) {
  .top-heading {
    font-size: 24px;
  }
  .bottom-heading {
    font-size: 1.2em;
  }
}

@media (max-width: 576px) {
  .top-heading {
    font-size: 24px;
  }
  .bottom-heading {
    font-size: 1em;
  }

  .borderless-input {
    width: 100%; /* Reduced width */
  }
  .borderless-inputs {
    width: 80%; /* Reduced width */
  }
}

.captcha-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.refresh-button {
  background-color: #4b8e3f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}

.captcha-code {
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 18px;
}

.captcha-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 150px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .captcha-container {
    flex-direction: column;
  }
  .refresh-button,
  .captcha-code,
  .captcha-input {
    margin: 5px 0;
  }
}

/* Optional: Additional custom styles */
#location-buttons .btn {
  width: 100%; /* Full width buttons */
  margin-bottom: 5px; /* Space between buttons */
}

#location-buttons .btn:hover {
  background-color: #4b8e3f; /* Darker background on hover */
  color: white;
}

.active .btn {
  background-color: #4b8e3f;
}
.btnsys {
  /* text color */
  transition: background-color 0.3s ease; /* smooth transition for color change */
  border: 1px solid #4b8e3f; /* solid green border */
  border-radius: 30px;
}

.btnsys.active,
.btnsys:hover {
  background-color: #4b8e3f; /* green color for active/hover state */
  color: white; /* text color for active/hover state */
}
.card {
  border-radius: 15px;
}

.tab-pane {
  display: none; /* Initially hide all tab content */
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 0.3s ease; /* Transition effect for opacity */
}

.tab-pane.show {
  display: block; /* Make the content block to show it */
  opacity: 1; /* Full visibility */
}

.submit-btn {
  border-radius: 0px;
}
.footer {
  background: url(/assets/footer_background.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  position: relative; /* Added to position the overlay correctly */
  color: white; /* Ensure text remains visible */
  padding: 10px;
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.85
  ); /* Adjust the last value to control the brightness */
  z-index: 1; /* Ensure the overlay is above the background image */
}

.footer .container {
  position: relative;
  z-index: 2; /* Ensure the content is above the overlay */
}
.footer-link {
  display: block;
  color: #fff;
  line-height: 1.49998125em;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-section img {
  margin-bottom: 10px; /* Margin between logo and vertical line */
}
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-media span {
  color: #77c15f;
  font-size: 1.5em;
  margin-right: 20px;
}

.social-media-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #77c15f;
  border-radius: 50%;
  color: #77c15f;
  font-size: 1.5em;
  transition: background-color 0.3s, color 0.3s;
}

.social-media-icon:hover {
  background-color: #77c15f;
  color: #333;
}

@media (max-width: 600px) {
  .social-media {
    flex-direction: column;
  }

  .social-media span {
    margin-bottom: 10px;
  }
}
.d-flex {
  justify-content: space-between;
}
.d-flex img {
  padding: 5px; /* Optional: add padding inside the border */
  border-radius: 5px; /* Optional: add rounded corners */
}
.footer .bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #444;
  padding-top: 10px;
  margin-top: 20px;
}
.footer .bottom-section a {
  color: #fff;
  margin-left: 15px;
}
.footer .bottom-section a:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  .footer .bottom-section {
    flex-direction: column;
    text-align: center;
  }
  .margin_section {
    margin-top: 30px !important;
  }
  .footer .bottom-section a {
    margin-left: 0;
    margin-top: 5px;
  }
}
@media (max-width: 767px) {
  .footer .bottom-section {
    flex-direction: column;
    text-align: center;
  }

  .margin_section {
    margin-top: 30px !important;
  }

  .footer .bottom-section a {
    margin-left: 0;
    margin-top: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .d-flex {
    justify-content: center; /* Center align images in tab view */
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .row {
    width: 100%;
  }

  .footer .col-md-4,
  .footer .col-md-2,
  .footer .col-md-1 {
    width: 100%;
    max-width: 100%;
  }

  .logo-section,
  .social-media,
  .d-flex {
    align-items: center;
    text-align: center;
  }

  .social-media {
    margin-top: 20px;
  }

  .social-media-icon {
    margin-bottom: 10px;
  }

  .footer .bottom-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer .bottom-section a {
    margin-left: 0;
    margin-top: 5px;
  }
}
a {
  text-decoration: none;
}
.form-group-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 10px 0;
}
