.paragra-sections {
  font-size: 22px;
  font-weight: 400;
}
.custom-card {
  border: 1px solid #b59900;
  border-radius: 0px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.icon i {
  font-size: 34px;
  color: #b59900;
}

.card-title {
  font-size: 20px;
  color: #333;
}

.card-text {
  font-size: 16px;
  color: #000;
}

.card-title-elite {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.card-text-elite {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 20px;
}
