.font {
  color: #000;
  font-size: 34px;
}
.font-section {
  color: #000;
}

.fonts {
  font-weight: 700;
  font-size: 20px;
  color: #77c15f;
}
.accordion-body {
  font-size: 20px;
  color: #000;
  line-height: 1.98213932em;
  direction: ltr;
  text-align: justify;
}
@media (max-width: 768px) {
  .font {
    font-size: 30px;
  }
  .fonts {
    font-size: 18px;
  }
  .accordion-body {
    font-size: 18px;
  }
}
